body {
    background-image: url("/images/upload/bg.jpg");
}

a:link{text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.main {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

.index-left-div {
    margin-top: 25px;
    padding: 15px 0 100px 70px;
}

.index-right-div {
    padding-bottom: 100px;
}

.index-hotIssue-div {
    padding-top: 50px;
}

.category {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 25px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category .list > li {
    float: left;
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.category .list > li.active {
    background: #494a4b;
    color: white;
}

.category .list li:hover {
    background-color: #303030 !important;
}

.category .list > li > a {
    display: block;
    padding: 0 10px;
    color: #17344A;
}

.category .list > li > a:hover {
    color: white;
    text-decoration: none;
}

.category .list > li.active > a, .category .list > li:hover > a {
    color: white;
}

.page-nav-span {
    color: #999;
    font-size: 12px;
}

.btn-publish {
    margin-bottom: 20px;
    float: right;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-description {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.profile-left-div {
    padding: 30px 0px 50px 70px;
}

.profile-right-div {
    padding-top: 50px;
    padding-right: 30px;
}

.profile-read-btn {
    margin-top: 23px;
    margin-right: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    text-decoration: none;
}

.jumbotron {
    margin-left: 180px;
    margin-right: 180px;
    background-image: url(/images/upload/bg.jpg);
}

.comment {
    margin: 10px 0;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .comment-icon {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.question-tilte {
    margin-top: 25px;
}

.question-user-info {
    list-style: none;
    margin-left: -40px;
    margin-top: 10px;
}

.question-tag {
    margin-right: 5px;
    cursor: pointer;
    white-space: normal;
}

.question-related {
    list-style: none;
    padding-left: 0;
    line-height: 25px;
    font-size: 13px;
}

.hotIssue-comment-count {
    color: #999;
    font-size: 11px;
}

.comment-div {
    margin-top: 20px;
}

.publish-tag-table {
    display: none;
    margin-top: 10px;
}

.footer {
    padding: 25px 25%;
    color: #666;
}

.badge {
    background-color: #d9534f;
}

.login-form {
    margin-left: 150px;
}

.login-btn {
    background-color: #1a90ff;
    width: 50%;
}

.login-form .form-control {
    width: 50%;
}

.information-div {
    margin: 50px 10px;
}

.information-icon {
    width: 280px;
    height: 280px;
}

.information-save-btn {
    margin-right: 20px;
}

.hidden {
    display: none;
}

.people-left-div {
    padding: 50px 80px 50px 80px;
}

.people-img {
    width: 100%;
    height: 100%;
}

.people-info {
    margin-top: 0px;
    margin-bottom: 7px;
}

.people-follow-btn {
    width: 100%;
    margin-top: 15px;
}

.setting-form {
    margin-bottom: 10px;
    width: 95%;
    display: inline;
}

.setting-auth-code {
    width: 60%;
    display: inline;
}

.setting-btn {
    margin-right: 18px;
}

.setting-password-tips {
    color: #a0a0a0;
}

.hot-tag-div {
    padding: 5px 0;
}

.hot-tag {
    display: inline-block;
    line-height: 28px;
    padding: 0 8px;
    white-space: nowrap;
    background: #cbdbfb;
    color: #265899;
    margin: 0 8px 14px 0;
    font-size: 14px;
}

.hot-tag a {
    text-decoration: none;
}

.hot-tag a:hover {
    color: #1abc9c;
}

.follow-box-div {
    border-radius: 10%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 15px;
    padding-bottom: 15px;
}

.follow-img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 35px;
}

.follow-span {
    color: #337ab7;
}

.nav-div {
    padding-left: 200px;
    padding-right: 190px;
}

.new-user-box {
    font-size: 12px;
}

.new-user-img {
    width: 30px;
    height: 30px;
}

.new-user-span {
    color: #999;
    padding-left: 35px;
}