body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-publish {
    margin-bottom: 20px;
    float: right;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-description {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    text-decoration: none;
}

.jumbotron {
    margin-left: 200px;
}