body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.index-div {
    margin-top: 25px;
}

.btn-publish {
    margin-bottom: 20px;
    float: right;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-description {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    text-decoration: none;
}

.jumbotron {
    margin-left: 200px;
}

.comment {
    margin: 10px 0;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .comment-icon {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.question-tilte {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
    cursor: pointer;
    white-space: normal;
}

.question-related {
    list-style: none;
    padding-left: 0;
    line-height: 25px;
}

.comment-div {
    margin-top: 20px;
}

.publish-tag-table {
    display: none;
    margin-top: 10px;
}

.footer {
    padding: 25px 25%;
    color: #666;
}

.badge {
    background-color: #d9534f;
}

.login-form {
    margin-left: 150px;
}

.login-btn {
    background-color: #1a90ff;
    width: 50%;
}

.login-form .form-control {
    width: 50%;
}