<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>零分社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script type="application/javascript">
        window.onload = function () {
            var closable = window.localStorage.getItem("closable");
            if (closable == "true") {
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>

<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <!--左边信息块-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 index-div">
            <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 发现</h2>
            <hr>

            <div class="media" th:each="question : ${pagingDTO.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                    </h4>
                    <br>
                    <span class="text-description"><span th:text="${question.commentCount}"></span> 个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
                <hr>
            </div>
            <!--分页栏-->
            <nav aria-label="Page navigation" style="float: right;">
                <ul class="pagination">
                    <li th:if="${pagingDTO.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagingDTO.showPrevious}">
                        <a th:href="@{/(page=${pagingDTO.currentPage - 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagingDTO.pages}" th:class="${pagingDTO.currentPage == page} ? 'active' : ''">
                        <a th:text="${page}" th:href="@{/(page=${page},search=${search})}"></a>
                    </li>
                    <li th:if="${pagingDTO.showNext}">
                        <a th:href="@{/(page=${pagingDTO.currentPage + 1},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagingDTO.showEndPage}">
                        <a th:href="@{/(page=${pagingDTO.totalPage},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-div">
                <h4>热门话题</h4>
                <ul class="question-related">
                    <li th:each="hotIssue : ${hotIssues}">
                        <a th:href="@{'/question/'+${hotIssue.id}}" th:text="${hotIssue.title}"></a>
                    </li>
                </ul>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>广告位招租</h4>
                <img src="/images/upload/my-wechat.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
<!--登录模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录 - 零分社区</h4>
            </div>
            <div class="modal-body">
                <form id="login-form" class="login-form">
                    <ul style="list-style: none;">
                        <li><input type="text" id="email" name="email" placeholder="邮箱" class="form-control"></li>
                        <br>
                        <li><input type="password" id="password" name="password" placeholder="密码" class="form-control"></li>
                        <br>
                        <li>
                            <label><input type="checkbox" value="1" name="remember">记住我&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <a href="javascript:(0)">忘记密码</a>
                        </li>
                        <br>
                        <li><a href="javascript:(0)" class="btn btn-large btn-primary login-btn" onclick="login()">登录</a></li>
                        <br>
                        <li><h4>第三方登录</h4></li>
                        <li>
                            <a th:href="@{https://github.com/login/oauth/authorize(client_id='1f883171aeed4ab10a2d',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}" class="btn btn-large btn-primary login-btn">
                                <i class="icon-github"></i>
                                Github 登录
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: foot"></div>
</body>
</html>