<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>零分社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/jquery.cookie.js" type="application/javascript"></script>
    <script type="application/javascript">
        window.onload = function () {
            var closable = window.localStorage.getItem("closable");
            if (closable == "true") {
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>

<body>
<!--头部导航-->
<div th:insert="navigation :: nav"></div>
<!--分类导航-->
<div class="container category">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list" id="category">
                <li th:class="${categoryType == 0 || categoryType == null ? 'active' : ''}"><a href="/?categoryType=0">全部</a></li>
                <li th:class="${categoryType == 1 ? 'active' : ''}"><a href="/?categoryType=1">提问</a></li>
                <li th:class="${categoryType == 2 ? 'active' : ''}"><a href="/?categoryType=2">讨论</a></li>
                <li th:class="${categoryType == 3 ? 'active' : ''}"><a href="/?categoryType=3">分享</a></li>
                <li th:class="${categoryType == 4 ? 'active' : ''}"><a href="/?categoryType=4">建议</a></li>
                <li th:class="${categoryType == 5 ? 'active' : ''}"><a href="/?categoryType=5">Bug</a></li>
            </ul>
        </div>
    </div>
</div>
<!--内容-->
<div class="container-fluid main">
    <div class="row">
        <!--左边信息块-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 index-left-div">
            <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 发现</h2>
            <hr>
            <!--问题列表-->
            <div class="media" th:each="question : ${pagingDTO.data}">
                <div class="media-left">
                    <a th:href="@{'/people/'+${question.user.id}}">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/(categoryType=${question.categoryType})}">
                            <span class="label" th:style="'background-color:'+${question.categoryColor}" th:text="${question.categoryName}"></span>
                        </a>
                        <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                    </h4>
                    <br>
                    <span class="text-description"><span th:text="${question.user.name}"></span> • <span
                            th:text="${question.commentCount}"></span> 个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览 • 发布时间：<span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
                <hr>
            </div>
            <!--分页栏-->
            <span class="pull-left page-nav-span">
                当前第<span th:text="${pagingDTO.currentPage}"></span>页，共<span th:text="${pagingDTO.totalPage}"></span>页，共<span th:text="${pagingDTO.totalCount}"></span>条记录
            </span>
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li th:if="${pagingDTO.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search},tag=${tag},categoryType=${categoryType})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagingDTO.showPrevious}">
                        <a th:href="@{/(page=${pagingDTO.currentPage - 1},search=${search},tag=${tag},categoryType=${categoryType})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagingDTO.pages}" th:class="${pagingDTO.currentPage == page} ? 'active' : ''">
                        <a th:text="${page}" th:href="@{/(page=${page},search=${search},tag=${tag},categoryType=${categoryType})}"></a>
                    </li>
                    <li th:if="${pagingDTO.showNext}">
                        <a th:href="@{/(page=${pagingDTO.currentPage + 1},search=${search},tag=${tag},categoryType=${categoryType})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagingDTO.showEndPage}">
                        <a th:href="@{/(page=${pagingDTO.totalPage},search=${search},tag=${tag},categoryType=${categoryType})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 index-right-div">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-hotIssue-div index-right-box">
                <h4><span class="glyphicon glyphicon-fire"></span> 热门话题</h4>
                <ul class="question-related">
                    <li th:each="hotIssue : ${hotIssues}">
                        <a th:href="@{'/question/'+${hotIssue.id}}"
                           th:text="${#strings.length(hotIssue.title) <= 11 ? hotIssue.title : #strings.substring(hotIssue.title,0,11) + '...'}"
                           th:title="${hotIssue.title}"></a>
                        <span class="pull-right hotIssue-comment-count"
                              th:text="${hotIssue.commentCount + '个回复'}"></span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-right-box">
                <h4><span class="glyphicon glyphicon-fire"></span> 热门标签</h4>
                <div class="hot-tag-div">
                    <div class="hot-tag" th:each="hotTag : ${hotTags}">
                        <a th:href="@{/(page=1,search=${search},tag=${hotTag},categoryType=0)}">
                            <span th:text="${hotTag}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span class="glyphicon glyphicon-user"></span> 最新用户</h4>
                <ul class="list-group">
                    <li class="list-group-item new-user-box" th:each="newUser : ${newUsersDTO}">
                        <a th:href="@{'/people/' + ${newUser.user.id}}">
                            <img class="img-rounded new-user-img" th:src="${newUser.user.avatarUrl}">
                        </a>
                        <a th:href="@{'/people/'+ ${newUser.user.id}}" th:text="${newUser.user.name}"></a><br>
                        <span class="new-user-span">
                            <span th:text="${newUser.questionCount}"></span> 提问 | <span th:text="${newUser.followerCount}"></span> 粉丝
                        </span>
                    </li>
                </ul>
            </div>
<!--            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                <h4>广告位招租</h4>-->
<!--                <img src="/images/upload/my-wechat.jpg" class="img-thumbnail">-->
<!--            </div>-->
        </div>
    </div>
</div>
<!--登录模态框-->
<div th:insert="login :: login"></div>
<!--尾部-->
<div th:insert="footer :: foot"></div>
</body>
</html>