<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName + '-零分社区'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/jquery.cookie.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 profile-left-div">
            <!--标题-->
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <!--我的提问-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">
                <div class="media" th:each="question : ${pagingDTO.data}">
                    <div class="media-left">
                        <a href="javascript:void(0)">
                            <img class="media-object" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{/(categoryType=${question.categoryType})}">
                            <span class="label" th:style="'background-color:'+${question.categoryColor}"
                                  th:text="${question.categoryName}"></span>
                            </a>
                            <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                        </h4>
                        <br>
                        <span class="text-description"><span th:text="${question.commentCount}"></span> 个回复 •
                            <span th:text="${question.viewCount}"></span> 次浏览 • <span
                                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            <a href="javascript:(0)" class="community-menu pull-right"
                               th:onclick="'javascript:deleteQuestion(\''+${question.id}+'\')'"
                               th:if="${session.user != null && session.user.id == question.creator}">
                                <span class="glyphicon glyphicon-trash"></span>
                                删除
                            </a>
                            <a th:href="@{'/publish/'+${question.id}}" class="community-menu pull-right"
                               th:if="${session.user != null && session.user.id == question.creator}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                编辑&nbsp;&nbsp;
                            </a>
                        </span>
                    </div>
                    <hr>
                </div>
            </div>
            <!--最新回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="profile-r-div">
                    <button type="button" class="btn btn-success btn-sm pull-left profile-read-btn" onclick="readAll()">
                        全部标为已读
                    </button>
                    <button type="button" class="btn btn-danger btn-sm pull-left profile-read-btn"
                            onclick="deleteRead()">删除全部已读
                    </button>
                </div>
                <div class="alert alert-info profile-alert-div" role="alert" th:each="notification : ${pagingDTO.data}">
                    <p class="notification">
                        <a th:href="@{'/people?id='+${notification.notifier}}"
                           th:text="${notification.notifierName}"></a>
                        <span th:text="${notification.typeName}"></span>
                        <a th:href="@{'/notification/'+${notification.id}}"
                           th:text="${notification.outerTitle}"></a>
                        <span class="label label-danger unread" th:if="${notification.status == 0}">未读</span>
                    </p>
                </div>
                <hr>
            </div>
            <!--我的资料-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'information'}">
                <div class="media information-div">
                    <div class="media-left media-middle">
                        <img class="media-object information-icon" th:src="${session.user.avatarUrl}">
                        <button class="btn btn-primary people-follow-btn" data-toggle="modal"
                                data-target="#changeAvatar">更改头像
                        </button>
                    </div>
                    <div class="media-body">
                        <br>
                        <div id="info-div">
                            <ul class="list-group">
                                <li class="list-group-item"><h4 class="media-heading">昵称：<span
                                        th:text="${session.user.name}"></span></h4></li>
                                <li class="list-group-item"><h4 class="media-heading">签名：<span
                                        th:text="${session.user.bio}"></span></h4></li>
                                <li class="list-group-item"><h4 class="media-heading">位置：<span
                                        th:text="${session.user.location}"></span></h4></li>
                                <li class="list-group-item"><h4 class="media-heading">组织：<span
                                        th:text="${session.user.company}"></span></h4></li>
                                <li class="list-group-item"><h4 class="media-heading">邮箱：<span
                                        th:text="${session.user.email}"></span></h4></li>
                                <li class="list-group-item"><h4 class="media-heading">博客：<a
                                        th:text="${session.user.blog}" th:href="${session.user.blog}"></a></h4></li>
                            </ul>
                            <button type="button" class="btn btn-primary pull-right" onclick="editInformation(1)">编辑
                            </button>
                        </div>
                        <div id="info-form" class="hidden">
                            <form action="/editProfile" method="post">
                                <ul class="list-group">
                                    <li class="list-group-item"><h4 class="media-heading">
                                        <input class="form-control" name="name" placeholder="昵称" type="text"
                                               th:value="${session.user.name}"></h4>
                                    </li>
                                    <li class="list-group-item"><h4 class="media-heading">
                                        <input class="form-control" name="bio" placeholder="签名" type="text"
                                               th:value="${session.user.bio}"></h4>
                                    </li>
                                    <li class="list-group-item"><h4 class="media-heading">
                                        <input class="form-control" name="location" placeholder="位置" type="text"
                                               th:value="${session.user.location}"></h4>
                                    </li>
                                    <li class="list-group-item"><h4 class="media-heading">
                                        <input class="form-control" name="company" placeholder="公司" type="text"
                                               th:value="${session.user.company}"></h4>
                                    </li>
                                    <li class="list-group-item"><h4 class="media-heading">
                                        邮箱：<span th:text="${session.user.email}"></span></h4>
                                    </li>
                                    <li class="list-group-item"><h4 class="media-heading">
                                        <input class="form-control" name="blog"
                                               placeholder="博客(链接，请以http://或https://开头)" type="text"
                                               th:value="${session.user.blog}"></h4>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default pull-right" onclick="editInformation(0)">
                                    取消
                                </button>
                                <button type="submit" class="btn btn-success pull-right information-save-btn">保存
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">更换头像 - 零分社区</h4>
                            </div>
                            <div class="modal-body">
                                <form id="change-avatar-form">
                                    <input id="newAvatar" name="newAvatar" class="profile-avatar-input"
                                           onchange="changepic(this)" type="file"
                                           accept="image/png, image/jpeg, image/gif, image/jpg">
                                    <label for="newAvatar" class="btn btn-success profile-avatar-plus"><span
                                            class="glyphicon glyphicon-plus"></span>点击添加</label>
                                    <br>
                                    <div class="profile-avatar-div">
                                        <img src="" id="show" width="100%">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="changeAvatar()"
                                        id="change-avatar-btn">更改
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--我的关注-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'follows'}">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 follow-box-div" th:each="follow : ${follows}">
                    <a th:href="@{'/people/'+${follow.user.id}}"><img th:src="${follow.user.avatarUrl}"
                                                                      class="img-circle follow-img"></a>
                    <a th:href="@{'/people/'+${follow.user.id}}"><span th:text="${follow.user.name}"></span></a>
                    <hr>
                    <span><span th:text="${follow.questionCount}" class="follow-span"></span> 提问</span>&nbsp;&nbsp;
                    <span><span th:text="${follow.followerCount}" class="follow-span"></span> 粉丝</span>
                    <button type="button" class="btn btn-danger people-follow-btn"
                            th:id="${'follow-btn-' + follow.user.id}"
                            onclick="follow(this)" th:data-id="${follow.user.id}">取消关注
                    </button>
                </div>
            </div>
            <!--我的收藏-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'collection'}">
                <div class="media" th:each="question : ${pagingDTO.data}">
                    <div class="media-left">
                        <a th:href="@{'/people/'+${question.user.id}}">
                            <img class="media-object" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{/(categoryType=${question.categoryType})}">
                            <span class="label" th:style="'background-color:'+${question.categoryColor}"
                                  th:text="${question.categoryName}"></span>
                            </a>
                            <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                        </h4>
                        <br>
                        <span class="text-description"><span th:text="${question.commentCount}"></span> 个回复 •
                            <span th:text="${question.viewCount}"></span> 次浏览 • <span
                                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            <a href="javascript:(0)" class="community-menu pull-right active" th:data-from="profile"
                               onclick="collectOrUnCollect(this)" th:data-id="${question.id}">
                                <span class="glyphicon glyphicon-trash"></span>
                                取消收藏
                            </a>
                        </span>
                    </div>
                    <hr>
                </div>
            </div>
            <!--设置-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'setting'}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>修改密码</h3>
                    <hr>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <form id="change-password-form">
                            <input type="password" class="form-control setting-form" id="old_password"
                                   name="old_password" placeholder="旧密码：6-18位，同时含有数字和字母"><span
                                class="glyphicon glyphicon-ok hidden"></span>
                            <input type="password" class="form-control setting-form" id="new_password"
                                   name="new_password" placeholder="新密码：6-18位，同时含有数字和字母"><span
                                class="glyphicon glyphicon-ok hidden"></span>
                            <input type="password" class="form-control setting-form" id="confirm_password"
                                   name="confirm_password" placeholder="确认密码：6-18位，同时含有数字和字母"><span
                                class="glyphicon glyphicon-ok hidden"></span>
                            <button type="button" class="btn btn-primary pull-right setting-btn"
                                    onclick="changePassword()">修改
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 setting-password-tips">
                        提示：
                        <ul>
                            <li>如果未设置密码则“旧密码”一栏不需要填写</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user.email == null}">
                    <h3>绑定邮箱</h3>
                    <hr>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <form id="bind-email-form">
                            <input type="email" class="form-control setting-form" id="bind_email" name="setting_email"
                                   placeholder="邮箱">
                            <input type="text" class="form-control setting-form setting-auth-code" name="authCode"
                                   placeholder="验证码">
                            <input type="button" id="bind-btn" class="btn btn-success pull-right setting-btn"
                                   onclick="sendAuthCode('bind',this)" value="获取验证码">
                            <button type="button" class="btn btn-primary pull-right setting-btn"
                                    onclick="bindOrEditEmail('bind')">绑定
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user.email != null}">
                    <h3>修改邮箱</h3>
                    <hr>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <form id="edit-email-form">
                            <input type="hidden" id="iniEmail" th:value="${session.user.email}">
                            <input type="email" class="form-control setting-form" id="setting_email"
                                   name="setting_email" placeholder="邮箱" th:value="${session.user.email}">
                            <input type="text" class="form-control setting-form setting-auth-code" name="authCode"
                                   placeholder="验证码">
                            <input type="button" id="edit-btn" class="btn btn-success pull-right setting-btn"
                                   onclick="sendAuthCode('edit',this)" value="获取验证码">
                            <button type="button" class="btn btn-primary pull-right setting-btn"
                                    onclick="bindOrEditEmail('edit')">修改
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--翻页导航栏-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 th:if="${section == 'questions' || section == 'replies' || section == 'collection'}">
                <span class="pull-left page-nav-span">
                    当前第<span th:text="${pagingDTO.currentPage}"></span>页，共<span th:text="${pagingDTO.totalPage}"></span>页，共<span
                        th:text="${pagingDTO.totalCount}"></span>条记录
                </span>
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        <li th:if="${pagingDTO.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagingDTO.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${pagingDTO.currentPage - 1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagingDTO.pages}"
                            th:class="${pagingDTO.currentPage == page} ? 'active' : ''">
                            <a th:text="${page}" th:href="@{'/profile/'+${section}(page=${page})}"></a>
                        </li>
                        <li th:if="${pagingDTO.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${pagingDTO.currentPage + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagingDTO.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${pagingDTO.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--右边Tab-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 profile-right-div">
            <div class="list-group section">
                <a href="/profile/information"
                   th:class="${section == 'information'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-user"></span> 我的资料
                </a>
                <a href="/profile/questions"
                   th:class="${section == 'questions'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-list"></span> 我的提问
                </a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-bell"></span> 最新回复
                    <span class="badge" th:if="${session.unreadCount != 0}" th:text="${session.unreadCount}"></span>
                </a>
                <a href="/profile/follows"
                   th:class="${section == 'follows'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-star"></span> 我的关注
                </a>
                <a href="/profile/collection"
                   th:class="${section == 'collection'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-heart"></span> 我的收藏
                </a>
                <a href="/profile/setting"
                   th:class="${section == 'setting'} ? 'active list-group-item' : 'list-group-item'">
                    <span class="glyphicon glyphicon-cog"></span> 设置
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="login :: login"></div>
<div th:insert="footer :: foot"></div>
</body>
</html>