<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title + '-零分社区'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css">

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/jquery.cookie.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--左边信息块-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--  正文  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="question-tilte"><span th:text="${question.title}"></span></h4>
                    <span class="text-description">
                        <a th:href="@{/(categoryType=${question.categoryType})}">
                            <span class="label" th:style="'background-color:'+${question.categoryColor}"
                                  th:text="${question.categoryName}"></span>
                        </a> |
                    作者：<span th:text="${question.user.name}"></span> |
                    发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                    阅读数：<span th:text="${question.viewCount}"></span>
                </span>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--内容-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                        <textarea style="display:none;" th:text="${question.description}"></textarea>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            editormd.markdownToHTML("question-view", {});
                        });
                    </script>

                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--标签-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span>标签：</span>
                        <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                            <a th:href="@{/(page=1,search=${search},tag=${tag},,categoryType=0)}">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span class="label label-info" th:text="${tag}"></span>
                            </a>
                        </span>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--编辑-->
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu pull-right"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        编辑
                    </a>
                    <span class="menu">
                        <span th:data-id="${question.id}" th:data-type="question"
                              th:class="${question.liked == true ? 'comment-icon pull-right active' : 'comment-icon pull-right'}"
                              onclick="likeOrDislike(this)">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span th:text="${question.likeCount}"></span>
                        </span>
                    </span>
                </div>
                <!--回复输入框-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <h4>提交回复</h4>
                    <hr class="comment-sp">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${session.user != null ? session.user.avatarUrl : '/images/upload/default-icon.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment" id="comment_content" rows="6"></textarea>
                    <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
                </div>
                <!--回复-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        一共 <span id="question-comment-count" th:text="${question.commentCount}"></span> 个回复
                    </h4>
                    <hr class="comment-sp">
                    <div class="media" th:each="comment : ${comments}">
                        <div th:id="${'comment-media-'+comment.id}">
                            <div class="media-left">
                                <a th:href="@{/people(id=${comment.user.id})}">
                                    <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body" th:id="${'comment-body-'+comment.id}">
                                <h5 class="media-heading">
                                    <span th:text="${comment.user.name}"></span>
                                </h5>
                                <div th:text="${comment.content}"></div>
                                <div class="menu">
                                    <span th:data-id="${comment.id}" onclick="likeOrDislike(this)"
                                    th:class="${comment.liked == true ? 'comment-icon active' : 'comment-icon'}">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span th:text="${comment.likeCount}"></span>
                                    </span>
                                    <span th:data-id="${comment.id}" onclick="collapseComments(this)" class="comment-icon">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        <span th:text="${comment.commentCount}"></span>
                                    </span>
                                    <span th:data-id="${comment.id}" onclick="deleteComment(this)" class="comment-icon"
                                    th:if="${session.user.id == comment.commentator}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </span>
                                    <span class="pull-right"
                                    th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                                </div>
                                <!--二级评论-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                th:id="${'comment-'+comment.id}">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-div">
                                        <input type="text" class="form-control" placeholder="评论一下..."
                                        th:id="${'input-'+comment.id}"><br>
                                        <button type="button" class="btn btn-success btn-publish" onclick="comment(this)"
                                        th:data-id="${comment.id}">评论
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-tilte">发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a th:href="@{/people(id=${question.user.id})}">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                    <ul class="question-user-info">
                        <li th:if="${question.user.bio != null && question.user.bio != ''}">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;<span
                                th:text="${question.user.bio}"></span>
                        </li>
                        <li th:if="${question.user.company != null && question.user.company != ''}">
                            <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;<span
                                th:text="${question.user.company}"></span>
                        </li>
                        <li th:if="${question.user.location != null && question.user.location != ''}">
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;<span
                                th:text="${question.user.location}"></span>
                        </li>
                        <li th:if="${question.user.email != null && question.user.email != ''}">
                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a
                                th:text="${question.user.email}" th:href="@{'mailto:'+${question.user.email}}"></a>
                        </li>
                        <li th:if="${question.user.blog != null && question.user.blog != ''}">
                            <span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;<a
                                th:text="${#strings.length(question.user.blog) <= 27 ? question.user.blog : #strings.substring(question.user.blog,0,27) + '...'}"
                                th:href="@{${question.user.blog}}"></a>
                        </li>
                    </ul>
                    <button type="button" th:id="${'follow-btn-' + question.user.id}" onclick="follow(this)"
                            th:data-id="${question.user.id}"
                            th:class="${isFollowed != true ? 'btn btn-primary people-follow-btn' : 'btn btn-danger people-follow-btn'}"
                            th:text="${isFollowed != true ? '关注Ta' : '取消关注'}"></button>
                </div>

            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+${related.id}}"
                           th:text="${#strings.length(related.title) <= 16 ? related.title : #strings.substring(related.title,0,16) + '...'}"
                           th:title="${related.title}"></a>
                    </li>
                </ul>
            </div>
            <!--            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--                <h4>广告位招租</h4>-->
            <!--                <img src="/images/upload/my-wechat.jpg" class="img-thumbnail">-->
            <!--            </div>-->
        </div>
    </div>
</div>
<div th:insert="login :: login"></div>
<div th:insert="footer :: foot"></div>
</body>
</html>